<div class="container">
    <div class="row">
        <h4>
            Shopping List
        </h4>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-6">
            <button type="button" (click)="onToggleAddItemDialog()">Add Item</button>
        </div>
        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-6">
            <button type="button" (click)="onClearList()">Clear List</button>
        </div>
    </div>
</div>

<!-- body -->
<div class="container">

    <div class="row" style="max-width: 50%;">

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <h5>Item</h5>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h5>
                    Amount
                </h5>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <h5>
                    Requested By
                </h5>
            </div>
        </div>
 

        <ul style="list-style: none; ">
            
            <div class="row" *ngFor="let item of shoppingItems; let i = index;">
                <li>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            {{item.name}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            {{item.amount}}
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            {{item.requestedBy}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                            <button type="button" class="btn btn-danger"(click)="deleteItem(i)">
                                X
                            </button>
                        </div>
                    </div>
                </li>
            </div>
        </ul>   
    </div>
</div>
<!-- body -->

<!-- modal dialog start -->
<div #addItem class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: addItemDisplay ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add Shopping Item
                </h5>
                <button type="button" class="close" data-dismiss="modal" (click)="onToggleAddItemDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="onAddItem(f)" #f="ngForm">
                <div class="modal-body">
                    <label for="name">Item Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name">

                    <label for="amount">Amount</label>
                    <select 
                        id="amount" 
                        class="form-control"
                        ngModel
                        name="amount"
                        >
                        <option value="1" >1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="requestedby">Requested By</label>
                    <select
                        id="requestedby"
                        class="form-control"
                        ngModel
                        name="requestedby">
                        <option *ngFor="let hm of houseMembers" [value]="hm.getName()">
                            {{hm.getName()}}
                        </option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Add Item </button>
                    <button type="button" class="btn btn-secondary" (click)="onToggleAddItemDialog()"> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal dialog end -->