<div class="container">
    <ul class="nav nav-tabs">
        <li *ngFor="let houseMember of houseMembers; let i = index">
            <a (click)="onClickHouseMember(i)">
                {{houseMember.getName()}}
            </a>
        </li>
    </ul>    
</div>
<div class="contianer">
    <div class="row">
        <div class="col">
            <ul style="list-style: none;">
                <div class="row" *ngFor="let chores of selectedHouseMember.getChores(); let i = index" >

                    <li> 
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            {{chores.getInfo().choreName}}
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            {{chores.getInfo().parentRoom}}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="button" (click)="onDone(i)">
                                Done
                            </button>
                        </div>
                    </li>
                    <hr>
                </div>
            </ul>
        </div>
    </div>
</div>