<div class="container">
    <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a routerLink="" class="navbar-brand">House Management</a>
            </div>

            <ul class="nav nav-pills" >
                <li >
                    <a routerLink="/choresAndFloorPlan"><h5>Chores</h5></a>
                </li>
                <li >
                    <a routerLink="/shoppingListAndCalendar"><h5>Shopping and Calendar</h5></a>
                </li>
            </ul>
    </nav>
</div>

