
<nav class="navbar navbar-default">
        <div class="navbar-header">
            <a routerLink="" *ngIf="!isHouseMem" class="navbar-brand">House Management</a>
            <a *ngIf="isHouseMem" class="navbar-brand">House Management</a>
        </div>

        <ul class="nav nav-pills" *ngIf="isAuthed">
            <li>
                <a [routerLink]="choresLinkAsHm"><h5>Chores</h5></a>
            </li>
            <li>
                <a [routerLink]="shopCalLinkAsHm"><h5>Shopping and Calendar</h5></a>
            </li>

            <li class="nav pull-right" >
                <a routerLink="" (click)="logOut()">
                    <h5>Logout</h5>
                </a>
            </li>
            
        </ul>


</nav>


