<div class="container">
    <div class="row">
        <h4>
            Shopping List
        </h4>
    </div>
    <div class="row">
            <button class="btn btn-primary" type="button" (click)="onToggleAddItemDialog()">Add Item</button> | 
            <button class="btn btn-success" type="button" (click)="onSaveShoppingItems()"> Save Items </button> |     
            <button class="btn btn-warning" type="button" (click)="onToggleClearListDialog()">Clear List</button>
            
    </div>
</div>

<!-- body -->


    

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h5>Item</h5>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <h5>
            Amount
        </h5>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h5>
            Requested By
        </h5>
    </div>
</div>



<ul style="list-style: none; ">
    
    <div class="row" *ngFor="let item of shoppingItems; let i = index;">
        <li>
            <div class="row" style="padding: 0.5rem;">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    {{item.itemName}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    {{item.amount}}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    {{item.requestedBy}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" class="btn btn-danger"(click)="deleteItem(i)">
                        X
                    </button>
                </div>
            </div>
        </li>
    </div>
</ul>   
<!-- body -->

<!-- modal dialog start -->
<div #addItem class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: addItemDisplay ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add Shopping Item
                </h5>
                <button type="button" class="close" data-dismiss="modal" (click)="onToggleAddItemDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="onAddItem(f)" #f="ngForm">
                <div class="modal-body">
                    <label for="name">Item Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name">

                    <label for="amount">Amount</label>
                    <select 
                        id="amount" 
                        class="form-control"
                        ngModel
                        name="amount"
                        >
                        <option value="1" >1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="requestedby">Requested By</label>
                    <select
                        id="requestedby"
                        class="form-control"
                        ngModel
                        name="requestedby">
                        <option *ngFor="let hm of houseMembers" [value]="hm.getName()">
                            {{hm.getName()}}
                        </option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Add Item </button>
                    <button type="button" class="btn btn-secondary" (click)="onToggleAddItemDialog()"> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal dialog end -->

<!-- are you sure modal dialog start -->
<div #confirmClear class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: confirmClearListDisplay ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Confirm 
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to clear the shopping list?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button btn" class="btn btn-warning" data-dismiss="modal" (click)="onClearList()">
                    Yes
                </button> |
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onToggleClearListDialog()">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<!-- are you sure modal dialog end -->