

<div class="row"  [hidden]='floorPlan == null'>
    <div style="text-align: center;">
        <canvas (click)="onCanvasClick($event)" style="border: 1px solid lightgray;" *ngIf='floorPlan' #fpCanvas [ngClass]="{over: over}">

        </canvas> 
    </div>
</div>

<div class="row btn" (click)="onToggleChooseFloorPlanDialog()" style="padding-left: 3rem;" *ngIf="floorPlan == null" id="pickFp">
    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 btn" id="button">
        <h3 style="margin-top: 50%; margin-bottom: 50%;">
            <img src="../../assets/img/fp.png" style="width: 50px; height: 50px;">
            pick a floor plan
        </h3>
    </div>
</div>


<!-- chores dialog -->

<div class="modal modal-backdrop" tabindex="-1" [ngStyle]="{display: floorPlanChoresDialogShow ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Room : {{this.selectedRoom.getName() | camelToSpace | uppercase}}
                </h5>
            </div>

            <div class="modal-body" style="text-align: center;">

                <h6>Members with unfinished chores</h6>
                <ul >
                    <li *ngFor="let member of membersWithUnfinishedChores">
                        {{member}}                    
                    </li>
                </ul>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onToggleChoresDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


<!-- pick floor plan dialog -->


<div class="modal modal-backdrop" tabindex="-1" [ngStyle]="{display: floorPlanChooseDialogShow ? 'block' : 'none'}">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title">
                    <h5>
                        Choose your floor plan.
                    </h5>
                </div>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" 
                        id="fpimg" data-toggle="tooltip" 
                        data-placement="top" 
                        title="Barcelona"
                        [ngStyle]="{backgroundColor: selectedFloorPlanIndex == '0' ? 'rgba(31, 207, 223, 0.335)' : 'transparent' }"
                        >
                        <img class="img-responsive" src="../../assets/img/0.jpg" 
                            name="0"
                            (click)="selectedFloorPlan($event)"
                        >
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" 
                        id="fpimg" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Bourdeaux"
                        [ngStyle]="{backgroundColor: selectedFloorPlanIndex == '1' ? 'rgba(31, 207, 223, 0.335)' : 'transparent' }"
                        >
                        <img class="img-responsive" src="../../assets/img/1.jpg" 
                            name="1"
                            (click)="selectedFloorPlan($event)"
                        >
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" 
                        id="fpimg" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Lourdes"
                        [ngStyle]="{backgroundColor: selectedFloorPlanIndex == '2' ? 'rgba(31, 207, 223, 0.335)' : 'transparent' }"
                        >
                        <img class="img-responsive" src="../../assets/img/2.jpg" 
                            name="2"
                            (click)="selectedFloorPlan($event)"
                        >
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" 
                        id="fpimg" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="Versailles"
                        [ngStyle]="{backgroundColor: selectedFloorPlanIndex == '3' ? 'rgba(31, 207, 223, 0.335)' : 'transparent' }"
                        >
                        <img class="img-responsive" src="../../assets/img/3.jpg" 
                            name="3"
                            (click)="selectedFloorPlan($event)"
                        >
                    </div>
                </div>

                <div class="row" *ngIf="selectedFloorPlanIndex">
                
                </div>


            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="chooseFloorPlan()">
                    Submit
                </button> |
                <button type="button" class="btn btn-warning" (click)="onToggleChooseFloorPlanDialog()">
                    Cancel
                </button>
            </div>

        </div>
    </div>

</div>