
.modal {
    text-align: left;
}
#pickFp {
    display: flex;
    justify-content: center;
    border: solid 1px lightgrey;
}
#pickFp:hover {
    background-color: rgba(31, 207, 223, 0.335)
}

#pickFp #button{
    width: 450px;
    height: 450px;
}

#pickFp #button h3 {
    margin-bottom: 50%;
    margin-bottom: 50%;
}

.modal-body .row {
    text-align: center;
    padding-left: 12%;
}

 .row  #fpimg img {
    width: 200px;
    height: 150px ;
}



#fpimg {
    width: auto;
    border-radius: 5%;
}

#fpimg:hover {
    border: 2px solid rgba(31, 207, 223, 0.335);
    border-radius: 5%;
    cursor: pointer;
}