
<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                Chores
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary" style="border: 1px solid rgb(119, 115, 115)" (click)="toggleHouseMemberDialog()">Add House Member</button> |
            <button type="button" class="btn btn-success" (click)="onSaveData()" [disabled]="houseMembers.length == 0">Save Data</button> |
            <button type="button" class="btn btn-success" (click)="onAssignChores()" [disabled]="houseMembers.length == 0">Assign Chores</button> |
            <button class="btn btn-primary" (click)="toggleShareLinkDialog()" [disabled]="houseMembers.length == 0">Share Link</button>
        </div>
    </div>    
</div>

<hr>

<ul class="nav nav-tabs">
    <li *ngFor="let houseMember of houseMembers; let i = index" [ngClass]="{active : selectedHouseMember.getName() === houseMember.getName()}" >
        <a (click)="onClickHouseMember(i)" >
            {{houseMember.getName()}}
        </a>
    </li>
</ul>

<div class="row" *ngIf="selectedHouseMember && selectedHouseMember.getChores().length > 0">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-xs-4">
        <h4>Chore</h4>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-xs-4">
        <h4>Room</h4>
    </div>
</div>

<div class="row">
    <ul style="list-style: none;">
        <li *ngFor="let chores of selectedHouseMember.getChores();">

            <div class="row" style="width: 600px;">
                <div class=" col-lg-4 col-md-6 col-sm-4 col-xs-4">
                    {{chores.getJSONObject().choreName}}
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    {{chores.getJSONObject().parentRoom | camelToSpace | lowercase}}
                </div>
                <div class=" col-lg-4 col-md-2 col-sm-4 col-xs-2" style="text-align: left;">
                    <button class="btn btn-primary" type="button" [disabled]="myIndex != selectedIndex" (click)="onDone(chores)">
                        Done
                    </button>
                </div>
            </div>

        </li>       
    </ul>

    <hr>
</div>

<div class="row" *ngIf="houseMembers.length > 0 && selectedHouseMember.getChores().length == 0">
    <div class="col" style="text-align: center;">
        <h4>
            Chores Completed!
        </h4>
    </div>
</div>

<div class="row" *ngIf="houseMembers.length == 0">
    <div class="col" style="text-align: center;">
        <h4>
            No House Members.
        </h4>
    </div>
</div>

<hr>
<!-- add housemem dialog start -->
<div #addHouseMem class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: addHouseMemberShowDialog ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add House Member
                </h5>
                <button type="button" class="close" data-dismiss="modal" (click)="toggleHouseMemberDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form (ngSubmit)="onCreateHouseMember(f)" #f="ngForm">
                <div class="modal-body">
                    
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            id="name" 
                            class="form-control"
                            ngModel
                            name="name">


                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Add</button>
                    <button type="button" class="btn btn-secondary" (click)="toggleHouseMemberDialog()">Cancel</button>
                </div>
            </form>
            

        </div>
    </div>
</div>
<!-- add housemem dialog end -->


<!-- share link dialog start -->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: shareLinkShowDialog ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Share Link to {{selectedHouseMember.getName()}}
                </h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>{{shareLink}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" (click)="toggleShareLinkDialog()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- share link dialog end -->
