
<div class="row" style="text-align: right; padding: 0.3rem;">
    <div class="col">
        <button class="btn btn-success" type="button"> Save Events </button> |
        <button class="btn btn-warning" type="button" [disabled]="numberOfEvents == 0" (click)="onToggleClearEventsDialog()">Clear Events </button>
    </div>
    
</div>
<full-calendar 
    #calendar  
    [options]="calendarOptions"
    deepChangeDetection="true"
    [ngClass]="{over : overDate}"
>

</full-calendar>

<!-- dialogs start -->
<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: addEventDialogShow ? 'block':'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add Event to {{clickedDate.toDateString()}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" (click)="onToggleAddEventDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form (ngSubmit)="onAddEvent(f)" #f="ngForm">
                <div class="modal-body">
                    <label for="name">Event Name</label>
                    <input 
                        type="text"
                        class="form-control"
                        id="name"
                        ngModel
                        name="name"
                        required>
                    <label for="time">Time</label>
                    <input 
                        type="time"
                        class="form-control"
                        id="time"
                        ngModel
                        name="time"
                        required>
                    <label for="color">Color</label>
                    <input
                        type="color"
                        class="form-control"
                        id="color"
                        ngModel
                        name="color"
                        required>
                </div>
    
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
                        Add Event
                    </button>
                </div>

            </form>

        </div>

        
    </div>

</div>


<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: eventInfoDialogShow ? 'block' : 'none'}">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4>
                    {{selectedEvent.title}}
                </h4>
            </div>

            <div class="modal-body">
                {{selectedEvent.start}}
            </div>

            <div class="modal-footer">

                        <button class="btn btn-primary" (click)="onToggleEventInfoDialog()">
                            Close
                        </button> |

                        <button class="btn btn-warning" (click)="deleteEvent()">
                            Delete
                        </button>

            </div>

        </div>
    </div>

</div>

<div class="modal modal-backdrop" tabindex="-1" role="dialog" [ngStyle]="{display: clearEventsConfirmDialogShow ? 'block' : 'none'}">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                Confirm
            </div>

            <div class="modal-body">
                Are you sure you want to delete all events?
            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" (click)="clearEvents()">Yes</button> | <button class="btn btn-secondary" (click)="onToggleClearEventsDialog()">No</button>
            </div>
        </div>
    </div>

</div>

<!-- dialogs end -->